<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080593140360-1do5cclpaprjn39o9objar9govsgi9da.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080593140360-1do5cclpaprjn39o9objar9govsgi9da</string>
	<key>API_KEY</key>
	<string>AIzaSyBG3tDU4YUpGjmZMej11RGrKLjru0v4Anw</string>
	<key>GCM_SENDER_ID</key>
	<string>1080593140360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-ziyad</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-ziyad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080593140360:ios:a2b61478eac10ea8a16d3d</string>
</dict>
</plist>